[Unit]
Description=Jaeger-collector
After=local-fs.target network.target

[Service]
Type=forking
ExecStart=/bin/bash {{ jaeger_user_dir }}/jaeger-collector.bash
User=jaeger
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
