[Unit]
Description=Jaeger-agent
After=local-fs.target network.target

[Service]
Type=forking
ExecStart=/bin/bash {{ jaeger_user_dir }}/jaeger-agent.bash
User=jaeger
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
